@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

h1 {
	margin-bottom: .5vw;
}

.mundo {
	font-size: 5vw;
	font-weight: bold;
	color: #79c000;
	border: solid 3px #79c000;
	margin: 1.5px, 1.5px, 1.5px, 1.5vw;
	;
}

button {
	text-align: center;
}

.json_btn_container {
	overflow: auto;
	margin: auto;
}

textarea {
	width: 46% !important;
	height: 14vw !important;
	margin-bottom: 1vw !important;
	font-size: 1rem;
	background-color: black;
	color: #678efe;
}

td {
	text-align: center !important;
}

.son {
	width: 70vw;
	margin-left: 24.5vw;
}

table {
	width: 30vw;
	border-collapse: collapse;
	margin-bottom: 2vw;
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}

th {
	background: #3498db;
	color: white;
	font-weight: bold;
}

td,
th {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: left;
	font-size: 18px;
}

.parent {
	display: none;
	margin: auto;
}

.my_table {
	width: 12%;
	display: block;
}

.online_input {
	margin-right: 2vw;
}

/*  */

.container {
	/* width: 100%; */

}

:root {
	--input-color: #99a3ba;
	--input-border: #cdd9ed;
	--input-background: #fff;
	--input-placeholder: #cbd1dc;
	--input-border-focus: #275efe;
	--group-color: var(--input-color);
	--group-border: var(--input-border);
	--group-background: #eef4ff;
	--group-color-focus: #fff;
	--group-border-focus: var(--input-border-focus);
	--group-background-focus: #678efe;
}

.btn {
	display: block;
	background-color: #99a3ba;
	color: #f5f9ff;
	padding: 1vw 3vw 1vw 0;
	font-family: 'Poiret One', cursive;
	width: 46%;
	letter-spacing: 9px;
	margin-top: -1vw;
	text-align: center;
	font-size: 3em;
	cursor: pointer;
	border-radius: 15px;
}

.form-field {
	display: block;
	width: 100%;
	padding: 8px 16px;
	line-height: 25px;
	font-size: 14px;
	font-weight: 500;
	font-family: inherit;
	border-radius: 6px;
	-webkit-appearance: none;
	color: var(--input-color);
	border: 1px solid var(--input-border);
	background: var(--input-background);
	transition: border 0.3s ease;
}

.form-field::placeholder {
	color: var(--input-placeholder);
}

.form-field:focus {
	outline: none;
	border-color: var(--input-border-focus);
}

.form-group {
	position: relative;
	display: flex;
	width: 100%;
}

.form-group>span,
.form-group .form-field {
	white-space: nowrap;
	display: block;
}

.form-group>span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
	border-radius: 0;
}

.form-group>span:first-child,
.form-group .form-field:first-child {
	border-radius: 6px 0 0 6px;
}

.form-group>span:last-child,
.form-group .form-field:last-child {
	border-radius: 0 6px 6px 0;
}

.form-group>span:not(:first-child),
.form-group .form-field:not(:first-child) {
	margin-left: -1px;
}

.form-group .form-field {
	position: relative;
	z-index: 1;
	flex: 1 1 auto;
	width: 1%;
	margin-top: 0;
	margin-bottom: 0;
}

.form-group>span {
	text-align: center;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 25px;
	color: var(--group-color);
	background: var(--group-background);
	border: 1px solid var(--group-border);
	transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.form-group:focus-within>span {
	color: var(--group-color-focus);
	background: var(--group-background-focus);
	border-color: var(--group-border-focus);
}

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

* {
	box-sizing: inherit;
}

*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	font-family: 'Mukta Malar', Arial;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #f5f9ff;
}

body .form-group {
	max-width: 65%;
}

body .form-group:not(:last-child) {
	margin-bottom: .5vw;
}


/*  */

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
	visibility: hidden;
	/* Hidden by default. Visible on click */
	min-width: 250px;
	/* Set a default minimum width */
	margin-left: -125px;
	/* Divide value of min-width by 2 */
	background-color: #333;
	/* Black background color */
	color: #fff;
	/* White text color */
	text-align: center;
	/* Centered text */
	border-radius: 2px;
	/* Rounded borders */
	padding: 16px;
	/* Padding */
	position: fixed;
	/* Sit on top of the screen */
	z-index: 1;
	/* Add a z-index if needed */
	left: 50%;
	/* Center the snackbar */
	bottom: 30px;
	/* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
	visibility: visible;
	/* Show the snackbar */
	/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
	However, delay the fade out process for 2.5 seconds */
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}